html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 1em;
    min-height: 100vh;
}

/* Tarjeta del perfil */
.perfil-card {
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2em;
}

/* Imagen de perfil */
.foto-perfil {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #a1a1a1;
    background-color: #f9f9f9;
}

/* Datos del perfil */
.perfil-datos {
    width: 100%;
}

.perfil-titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: 700;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

.perfil-datos p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #444;
}

.perfil-datos span {
    font-weight: bold;
    color: #222;
}

/* Botón editar */
.btn-editar {
    background-color: #ffd43b;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-editar:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.13);
    background-color: #eac305;
}

.btn-salir{
    background-color: #802626;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-salir:hover{
    background-color: #6a1f1f;
    transform: scale(1.05);
}