<div class="container mt-5">
    <h2 class="mb-4">Agregar Nueva Pregunta</h2>
    <form action="/Pregunta2/cuestion/validarPregunta" method="post">
        <div class="mb-3">
            <label for="pregunta" class="form-label">Pregunta nueva</label>
            <input type="text" class="form-control" id="pregunta" name="pregunta" >
        </div>

        <div class="mb-3">
            <label for="categoria" class="form-label">Selecciona la categoría</label>
            <select class="form-select" id="categoria" name="categoria">
                <option selected disabled>Elige una opción</option>
                <option value="historia">Historia</option>
                <option value="deportes">Deportes</option>
                <option value="cultura">Cultura</option>
                <option value="ciencia">Ciencia</option>
                <option value="entretenimiento">Entretenimiento</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Enviar nueva pregunta</button>
    </form>
    {{#error}}<div class="alert alert-danger">{{error}}</div>{{/error}}
</div>