<main>
    <table>
        <thead>
        <tr>
            <th>Partida</th>
            <th>Puntaje conseguido</th>
        </tr>
        </thead>
        <tbody>
        {{#usuario}}
            <tr>
                <td>{{nro_partida}}</td>
                <td> {{puntaje_total}} </td>
            </tr>
        {{/usuario}}
        </tbody>
    </table>
</main>