<main>
    <section class="contenedor-partidas">
        <h2>Lista de partidas</h2>
        <div class="contenedor-tabla-partidas">
    <table>
        <thead>
        <tr>
            <th>Fecha de Partida</th>
            <th>Puntaje conseguido</th>
        </tr>
        </thead>
        <tbody>
        {{#usuario}}
            <tr>
                <td>{{fecha}}</td>
                <td> {{puntaje_total}} </td>
            </tr>
        {{/usuario}}
        </tbody>
    </table>
        </div>
    </section>
</main>