<!-- The Band Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <!-- Contenido central -->
    <div class="central-card ">
        <img src="{{BASE_URL}}/public/imgs/signos.png" alt="Trivia" class="quiz-image ">
        <h2 class="w3-xxlarge w3-margin-top">¿Cuántas preguntas<br>podés responder?</h2>
        <a href="/ruleta/show" class="w3-button w3-black w3-large w3-margin-top">Comenzar</a>
    </div>
</div>
<main>
    <div class="contenedor-partida">
            <div class="smiley-face">😊</div>
            <h1>¡Hola! {{nombre_usuario}} </h1>
            <p>Tu puntaje en el ranking es :</p>
            <p>¿Listo para jugar?</p>
            <a href="/Pregunta2/juego/jugar" class="w3-button w3-black w3-large w3-margin-top">Comenzar partida</a>
            <a href="/Pregunta2/ranking/show" class="w3-button w3-black w3-large w3-margin-top">Ranking total</a>
        <a href="/Pregunta2/cuestion/show" class="w3-button w3-black w3-large w3-margin-top">Crear preguntas nuevas</a>
        <p>(suponiendo) desea aceptar la partida? </p>
    </div>
</main>