<main>

    <div class="contenedor-principal">
        <div class="contenedor-gifs">
            <img src="{{BASE_URL}}/public/imgs/signo.gif" alt="Trivia" class="quiz-image ">
            <img src="{{BASE_URL}}/public/imgs/signo.gif" alt="Trivia" class="quiz-image ">
            <img src="{{BASE_URL}}/public/imgs/signo.gif" alt="Trivia" class="quiz-image ">
        </div>
        <h2 class="text-center mt-2">¿Cuántas preguntas sos capaz de responder?</h2>
        <p class="text-center fs-5 fst-italic mt-1">Demostrá tu conocimiento. ¡Empezá cuando quieras!</p>
        <a href="/ruleta/show" class="boton-comenzar-partida">¡Comenzar!</a>
    </div>

    {{#isJugador}}
        <div class="lobby-container">
            <a href="/proponer/crearPregunta" class="btn btn-primary">Proponer pregunta</a>
        </div>
    {{/isJugador}}

</main>