
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card login-card shadow p-4" style="width: 100%; max-width: 420px;">
        <h3 class="text-center mb-4 text-danger fw-bold d-flex justify-content-center align-items-center gap-2">
            <img src="https://cdn6.aptoide.com/imgs/1/a/3/1a354d9524ca67a64e36f511d210a621_icon.png" alt="Pokebola" width="30">
            Iniciar Sesión
            <img src="https://cdn6.aptoide.com/imgs/1/a/3/1a354d9524ca67a64e36f511d210a621_icon.png" alt="Pokebola" width="30">
        </h3>

        <form action="/Pregunta2/login/validateUser" method="post">
            <div class="mb-3 input-group">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                <input type="text" name="nameuser" class="form-control" placeholder="Usuario" required>
            </div>

            <div class="mb-4 input-group">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-danger fw-bold">Ingresar</button>
            </div>
        </form>
        {{#error}}<div class="alert alert-danger">{{error}}</div>{{/error}}
    </div>


</div>

