<main>
    <div class="contenedor-pregunta {{color}}">
        <form method="POST" action="/juego/responder">
            <input type="hidden" name="id_pregunta" value="{{id_pregunta}}">

            <h4 class="pregunta">{{pregunta}}</h4>

            <div class="respuestas">
                {{#respuestas}}
                    <button type="submit" name="respuesta" value="{{id_respuesta}}" class="boton-respuesta">
                        {{respuesta}}
                    </button>
                {{/respuestas}}
            </div>
        </form>
    </div>
</main>