<p>Esta es vista jugador ranking</p>

{{#userdata}}
    <p>nombre:{{nombre_usuario}}</p>
    <p>puntaje final:{{puntaje_acumulado}}</p>
    <p>partidas :{{cantidad_partidas}}</p>
{{/userdata}}

<button>desafiar a una partida</button>
