<div class="container mt-5" style="max-width: 400px;">
    <div class="card text-center shadow-sm">
        <!-- Parte superior: Imagen -->
        <div class="card-header bg-light">
            <img src="https://via.placeholder.com/150" class="rounded-circle img-fluid" alt="Foto de perfil" style="width: 150px; margin-top: -75px; border: 5px solid white;">
        </div>

        <!-- Parte inferior: Información -->
        <div class="card-body">
            <h5 class="card-title">Nombre de Usuario: {{nombre_usuario}}</h5>
            <p class="card-text text-muted mb-1">Email: {{email}}</p>
            <p class="card-text text-muted mb-1">Nombre Completo:{{nombre}}</p>
            <p class="card-text text-muted mb-1">Fecha de Nacimiento:{{fecha_nacimiento}}</p>
            <p class="card-text text-muted mb-1">Sexo:{{sexo}}</p>
            <p class="card-text text-muted mb-1">Pais:{{tipo_residencia}}</p>
            <!--<a href="#" class="btn btn-primary">Editar perfil</a>-->
        </div>
    </div>
</div>