<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 420px; border-radius: 1rem;">
        {{#jugador}}
        <!-- Encabezado -->
        <h3 class="text-center mb-4 text-primary fw-bold d-flex justify-content-center align-items-center gap-2">
            <img src="https://cdn6.aptoide.com/imgs/1/a/3/1a354d9524ca67a64e36f511d210a621_icon.png" alt="Pokebola" width="30">
            {{nombre_usuario}}
            <img src="https://cdn6.aptoide.com/imgs/1/a/3/1a354d9524ca67a64e36f511d210a621_icon.png" alt="Pokebola" width="30">
        </h3>

        <!-- Imagen de perfil -->
        <div class="text-center mb-3">

          <!--  <img src="/public/uploads/{{foto_perfil}}" class="rounded-circle border border-3 border-danger shadow-sm"
                 style="width: 120px; height: 120px; object-fit: cover;" alt="Foto de perfil">-->
        </div>

        <!-- Datos del usuario -->

        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><strong> Usuario:</strong> {{nombre_usuario}}</li>
            <li class="list-group-item"><strong> Email:</strong> {{email}}</li>
            <li class="list-group-item"><strong> Puntaje Total:</strong> {{puntaje_total}}</li>
            <li class="list-group-item"><strong> Partidas jugadas :</strong> {{cant_partidas}}</li>
        </ul>
        <div class="text-center">
            <img src="/profileGamer/generarQr/{{id_usuario}}" alt="codigo qr" width="300" height="300">
        </div>
        {{/jugador}}
    </div>
</div>


