<main>
    <section class="ranking-container">
        <h2>Ranking</h2>
        <div class="contenedor-tabla">
            <table class="ranking-table">
                <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Puntaje</th>
                </tr>
                </thead>
                <tbody>
                {{#usuarios}}
                    <tr onclick="window.location='/profileGamer/show/{{nombre_usuario}}'">
                        <td>
                            <div class="jugador-info">
                                <img src="{{BASE_URL}}/public/uploads/{{foto_perfil}}" alt="Foto perfil">
                                <span>{{nombre_usuario}}</span>
                            </div>
                        </td>
                        <td>{{puntaje_maximo}}</td>
                    </tr>
                {{/usuarios}}
                </tbody>
            </table>
        </div>
    </section>
</main>
