<h1 class="pp text-center">Registrarse</h1>

<div class="d-flex justify-content-center">
    <form id="registerForm" class="d-flex" method="post" action="/Pregunta2/login/addUser">
        <div>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" name="lastname" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Sexo</label>
                <input type="text" name="sex" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha nacimiento</label>
                <input type="date" name="date" class="form-control" />
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label">Mail</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" name="confirm_password" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre Usuario</label>
                <input type="text" name="nameuser" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Foto de perfil</label>
                <input type="text" name="photo" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>

{{#mensaje}}
    <script>
        alert("{{mensaje}}");
    </script>
{{/mensaje}}