<main>

<div class="contenedor-resultado">
    <h2>¡Juego terminado!</h2>
    <img src="{{BASE_URL}}/public/imgs/sad.gif" alt="Trivia" class="carita">
    <p>Tu puntaje fue: <strong>{{puntaje}}</strong></p>
    <a href="/lobby/show" class="boton-volver-lobby">Volver al inicio</a>
</div>

</main>